@define-color transparent rgba(0,0,0,0);
@define-color background #333333;
@define-color text #F8F7F9;
@define-color grey #cccccc;
@define-color black #222222;
@define-color green #1BA17B;
@define-color red #A11B41;

* {
    border: none;
    font-family: Font Awesome, Roboto;
    font-size: 13px;
    color: @text;
    border-radius: 20px;
	padding: 2px 0;
}

window#waybar { background: @transparent;}

/*-----module groups----*/
.modules-right,
.modules-center,
.modules-left {
	padding: 0;
    background-color: @background;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
	box-shadow: 0 0 2px 1px @grey;
}
.modules-right { border-radius: 20px 0 0 20px; }
.modules-left { border-radius: 0 20px 20px 0; padding-right: 10px; }
/*-----modules indv----*/
window#waybar #window,
window#waybar #window.solo,
window#waybar #window.floating {
	margin: 0 10px;
	padding: 0;
}
window#waybar.empty #window {
	margin: 0;
	padding: 0;
}

#workspaces { padding: 0; }

#workspaces button {
    padding: 1px 5px;
	border-radius: 0;
	border-bottom: 2px solid @transparent;
}
#workspaces button:hover,
#workspaces button.focused {
	border-bottom: 2px solid @grey;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#idle_inhibitor {
    padding: 0 10px;
}
#mode {
    color: @grey;
    font-weight: bold;
}
#custom-power {
    background-color: @red;
    border-radius: 2px;
    margin: 2px;
    padding: 3px;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
    color: @green;
}
#pulseaudio.muted {
    color: @red;
}
#battery.charging {
    color: @green;
}
#battery.warning:not(.charging) {
	color: @grey;
}
#battery.critical:not(.charging) {
    color: @red;
}
#temperature.critical {
    color: @red;
}
