@define-color transparent rgba(0,0,0,0);
@define-color background #393E41;
@define-color text #F8F7F9;
@define-color darkgrey #333333;
@define-color grey #cccccc;
@define-color black #222222;
@define-color green #1BA17B;
@define-color red #A11B41;

window {
	margin: 0px;
	background-color: @transparent;
}

#input {
	margin: 5px;
	border: none;
	color: @grey;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: @black;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: @black;
}

#scroll {
	margin: 0px;	
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: @text;
} 

#entry:selected {
	background-color: @darkgrey;
}
